* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf')
}
@font-face{
    font-family: 'GamePlay';
    src: url('../fonts/Gameplay.ttf')
}

@font-face{
    font-family: 'Flappy';
    src: url('../fonts/FlappyBirdy.ttf')
}


[wm-flappy] {
    position: relative;
    border: 5px solid dodgerblue;
    height: 700px;
    width: 1200px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
}

.passaro {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    bottom: 50%;
}

.par-de-barreiras {
    position: absolute;
    top: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.barreira {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barreira .borda {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border: 2px solid #000;
}

.barreira .corpo {
    height: 150px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border-left: 2px solid #000;
    border-right: 2px solid #000;
}

.progresso {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: Pixel;
    font-size: 70px;
    z-index: 1;
}

.flappylogo{
    position: absolute;
    top: 5%;
    /* left: 250px; */
    width: 700px;
}

.passaroMenu{
    position: absolute;
    top: 40%;
    width: 100px;
}

.comecar{
    position: absolute;
    height: 150px;
    width: 400px;
    top: 65%;
    border: 4px solid #000;
    border-radius: 40px;
    overflow: hidden;
}

.cima{
    height: 50%;
    width: 100%;
    background-color: yellow;
}

.baixo{
    height: 50%;
    width: 100%;
    background-color: goldenrod;
}

.texto{
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 100px;
    font-family: GamePlay;
    color: #000;
}

.fundoBranco{
    background-color: aliceblue;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 70%;
}

.reset{
    width: 500px;
    height: 180px;
    position: absolute;
    top: 220px;
    z-index: 4;
}
